- # the habtm relsationship allows for event.invites hence 2 arguments for the form helper
= form_for([@event, @invite]) do |f|
  - if @invite.errors.any?
    #error_explanation
      h2
        = pluralize(@invite.errors.count, "error")
        | prohibited this invite from being saved:
      ul
        - @invite.errors.full_messages.each do |msg|
          li= msg
  h4 Invite Friends:
  .checkbox
    - # for each friendship store the friend id in an array
    - @friendships.each do |friendship|
      p
        = check_box_tag "invitee_ids[]", friendship.friend_id
        = label_tag "invitee_ids[]", friendship.friend.name
      hr/
  .button type: "submit" 
    | Send invites
