<h1>Listing invites</h1>

<table>
  <thead>
    <tr>
      <th>Attending</th>
      <th>User</th>
      <th>Event</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.attending %></td>
        <td><%= invite.user %></td>
        <td><%= invite.event %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
