<p id="notice"><%= notice %></p>

<p>
  <strong>Attending:</strong>
  <%= @invite.attending %>
</p>

<p>
  <strong>User:</strong>
  <%= @invite.owner %>
</p>

<p>
  <strong>Event:</strong>
  <%= @invite.event %>
</p>
