#loginPrompt.modal.fade aria-hidden="true" aria-labelledby="myModalLabel", role: "dialog", tabindex: "-1" 
  .modal-dialog
    .modal-content
      .modal-header
        button.close data-dismiss="modal", type: "button" 
          span aria-hidden="true"  ×
          span.sr-only Close
        h4#myModalLabel.modal-title Who are you?
      .modal-body
        .rsvp-login
          p.rsvp-notice
            = @owner.name
            | will need to know who you are. Log in via facebook or enter your name.
          = link_to "Login with Facebook", "/auth/facebook?origin=/events/#{params[:id]}", id: "sign_in", class: "btn btn-primary"
          p or
          .register-name.btn.btn-success
            | Submit your name
