= form_for(shallow_args(@user,@invite), remote: true) do |f|
  = f.hidden_field :rsvp, value: "Undecided"
  = f.hidden_field :event_id, value: @event.id
  .btn.neutral.rsvp-btn.going value="going" 
    div
      i.icon.fa.fa-check
    p Buy me a ticket!
  .btn.neutral.rsvp-btn.not-going value="not-going" 
    div
      i.icon.fa.fa-times
    p No thanks
  .btn.neutral.rsvp-btn.maybe value="maybe" 
    div
      i.icon.fa.fa-question
    p Maybe
