<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @invitee.name %>,</h1>
    <p>
      <%= @user.name %> has invited you to go to <%= @event.what %>.<br/>
    </p>
    <p>
      Check out the details and rsvp here <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>