<% # check for friends, if none prompt user to add friends %>
<h3>Friends</h3>
<% if @user.friendships.empty? %>
	<p>You ain't Scott no friends :(</p>
	<p>Add friends to your mailing list so you can invite them to upcoming gigs.</p>
	
<% else %>
	<% # display user's friends and remove link %>
  <% @user.friendships.each do |friendship| %>
 		<p><%= friendship.friend.name %> <%= link_to "remove", friendship, :method => :delete %></p>
  <% end %>
<% end %>
<br>

  
<% # display users who are not friends with current user %>
<h3>Add Friends</h3>
	<% @not_friends.each do |user| %>
  	<p><%= user.name %> <%= link_to "Add friend", friendships_path(:friend_id => user), :method => :post %></p>
	<% end %>

