<h2>Friends</h2>
<% if @user.friendships.empty? %>
	<p>Looks like you are a Scott's No :(</p>
<% else %>
  <% @user.friendships.each do |friendship| %>
 <p><%= friendship.friend.name %> <%= link_to "remove", friendship, :method => :delete %></p>
  <% end %>
<% end %>
  

  <h2>Add Friends</h2>
  <% @not_friends.each do |user| %>
    <p><%= user.name %> <%= link_to "Add friend", friendships_path(:friend_id => user), :method => :post %></p>
  <% end %>

