| $('.guest-register').remove();
- if @invite.guest.image?
  | $('.friends-list').append('
  .guest.guest-row
    .sticker data-badge="", id: "invite-#{@invite.id}" = image_tag @invite.guest.image, class: "avatar"
    p.inline= @invite.guest.name
  | ')
- else
  | $('.friends-list').append('
  .guest.guest-row
    .sticker data-badge="", id: "invite-#{@invite.id}" = icon("user", "", class: "avatar guest-avatar")
    p.inline= @invite.guest.name
  | ')
| $('.rsvp-login').remove();
| $('#invite_rsvp').val('#{@rsvp}');
| $('.rsvp-btn').parent('form').submit();
| $('.rsvp-btn').off();
| $('.rsvp-btn').on('click', function(){
| var rsvp = ($(this).attr('value'));
| $('#invite_rsvp').val(rsvp);
| $(this).parent('form').submit();
| });
