.countdown
  .close-btn X
  .col
    span.ce-days
    span.ce-days-label
  .col
    span.ce-hours
    span.ce-hours-label
  .col
    span.ce-minutes
    span.ce-minutes-label
  .col
    span.ce-seconds
    span.ce-seconds-label
  p ...til tickets will be secured
/! countdown
