<div class="countdown">
  <div class="close-btn">X</div>
  <div class="col">
    <span class="ce-days"></span> <span class="ce-days-label"></span>
  </div>
  <div class="col">
    <span class="ce-hours"></span> <span class="ce-hours-label"></span>
  </div>
  <div class="col">
    <span class="ce-minutes"></span> <span class="ce-minutes-label"></span>
  </div>
  <div class="col">
    <span class="ce-seconds"></span> <span class="ce-seconds-label"></span>
  </div>
  <p>...til tickets will be secured</p>
</div><!-- countdown -->