<div class="event-container">
	<h1 class="page-title">My Events</h1>


	<% # view for when user has any events %>
	<% #button_to "Add an event", new_user_event_path(@user), class: "btn" %>

	<% if current_user.events.count > 0 %>

	<table class="table table-hover event-list">
		<thead id="table-head">
			<tr>
				<th>Event</th>
				<th>Cost</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<% @events.each do |event| %>
			<tr>
				<td class="event-list-title">
					<%= link_to event.what, event_path(event) %>
				</td>
				<td class="event-list-cost">
					<%= number_to_currency(event.price) %>
				</td>
				<td class="event-list-date">
					<%= event.on_sale.strftime"%b %d %I:%M %P"  %>
				</td>
			</tr>
		</tbody>

		<% end 	%>

	</table>


	<% end %>


</div>



