<div class="event-details">
  <div class="teams">
    <div class="team">
      <%= image_tag 'http://lorempixel.com/100/100' %>
      <p>Port Adelaide</p>
    </div>
    <p>vs</p>
    <div class="team">
      <%= image_tag 'http://lorempixel.com/100/100' %>
      <p>Sydney Swans</p>
    </div>
    <p>Sunday 27th July, Adelaide Oval</p>
  </div>
</div>