.row.nopadding
  .col-xs-12.content-module
    .description
      |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aspernatur nesciunt inventore vitae, ea, libero unde cumque fuga cupiditate modi! Necessitatibus sit reprehenderit molestiae possimus, atque neque optio soluta hic.