<% content_for :head do %>
  <meta name="description" content="I'm going to buy tickets for <%= @event.what.titleize %>. Let me know if you want to go.">
<% end %>
<% content_for :title do %>
  <title><%= @event.what.titleize %> are playing!</title>
<% end %>
<div class="container">
	<h1 class="container-title">Update Gig</h1>

	<%= render 'form' %>

</div>