<h1>My Events</h1>
<% # render view based on user's events and friends %>
<% if current_user.friendships.empty? %>
	<%= render "friend" %>
<% elsif current_user.events.empty? %>
	<%= render "add_event" %>
<% else %>
	<%= render "events" %>
<% end %>