<% content_for :title do %>
  <title>planndit</title>
<% end %>
<div class="container">
	<h1 class="container-title">Gig Details</h1>
	<p>Enter in the gig details and the rsvp deadline.</p>

	<%= render 'form' %>
</div>


