
  <h4>Add Friends:</h4>
  <div>
    <% @users.each do |user| %>
      <%= user.name %> <%= link_to "Add friend", friendships_path(:friend_id => user), :method => :post %>
      <hr>
    <% end %>
  </div>


