<p id="notice"><%= notice %></p>

<p>
  <strong>Friends:</strong>
  <% current_user.friendships.each do |friendship| %>
<p><%= friendship.friend.name %></p>
<% end %>
</p>


<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>
