<h1>Let's Get Tickets!</h1>
<p>
	Get your peeps organised and get to the gig!
</p>
<p>
	Know who wants to go, for realsies.
</p>
<a href="/users/sign_up"><button class="btn btn-primary" >Get started</button></a>

<div class="row">
  <div class="col-xs-6 col-md-4">
  	<h2>Step 1</h2>
  	<p>Set a deadline for when you will buy tickets.</p>
  </div>
  <div class="col-xs-6 col-md-4">
		<h2>Step 2</h2>
		<p>Invite your friends to see who wants to go.</p>
  </div>
  <div class="col-xs-6 col-md-4">
  	<h2>Step 3</h2>
  	<p>When you reach the deadline, Buy your tickets!</p>
  </div>
</div>