

<div class="row">
  <div class="col-md-12">
   <h1 id="landing-header">Let's Get Tickets!</h1>
    <p id="tagline">
      Never miss out on a gig again.
    </p>
    <a href="/users/sign_up"><button class="btn btn-primary started" >Sign Up</button></a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 landing-box">
      <div class="row" id="steps">
        <div class="step-item col-md-3"><p class="step-copy">Tell your friends about to the gig</p></div>
        <div class="step-item col-md-3"><p class="step-copy">Invite your friends</p></div>
        <div class="step-item col-md-3"><p class="step-copy">RSVPs</p></div>
      </div> 
  </div>
</div>
