<% content_for :title do %>
<title>planndit</title>
<% end %>
<div class="overlay home-page">
	<div class="planner-container">
		<div class="planner">
			<%= image_tag 'stick-figure-proud.png' %>
		</div>
		<div class="pin"><%= image_tag 'planndit_icon_flipped.png', class: "little-p" %></div>
		<div class="inner-circle circle"></div>
		<div class="middle-circle circle"></div>
		<div class="outer-circle circle"></div>
	</div>
	<div class="friends">
		<div class="friend friend-1 sm left left-top"></div>
		<div class="friend friend-2 sm left left-middle"><div class="body"></div></div>
		<div class="friend friend-3 medium left left-bottom"><div class="body"></div></div>
		<div class="friend friend-4 big bottom bottom-left"></div>
		<div class="friend friend-5 medium bottom bottom-left"><div class="body"></div></div>
		<div class="friend friend-6 xl bottom bottom-middle"></div>
		<div class="friend friend-7 big bottom bottom-right"><div class="body"></div></div>
		<div class="friend friend-8 xl bottom bottom-right"><div class="body lean"></div></div>
		<div class="friend friend-9 xl bottom bottom-right right"><div class="body"></div></div>
		<div class="friend friend-10 medium right right-middle"><div class="body lean"></div></div>
		<div class="friend friend-11 sm right right-top"></div>
		<div class="friend friend-12 big-one"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="home-page-brand">
				<div class="fleft">
					<span><%= image_tag 'planndit_icon_flipped.png', class: "little-p" %></span>
				</div>
				<div class="fleft name-tagline">
					<h1 id="brand-splash">planndit</h1>
					<span class="tag-spacer"></span><p id="tagline">make the plans, book your friends</p>
					<div class="create-event">
						<%= link_to 'create an event', new_event_path, id: "hp-btn" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	// var $friend1 = $('.friend-1')
	// var $friend2 = $('.friend-2')
	// var $friend3 = $('.friend-3')
	// var $friend4 = $('.friend-4')
	// var $friend5 = $('.friend-5')
	// var $friend6 = $('.friend-6')
	// var $friend7 = $('.friend-7')

	// displayFriend($friend1, 300)
	// displayFriend($friend2, 600)
	// displayFriend($friend3, 900)
	// displayFriend($friend4, 1200)
	// displayFriend($friend5, 1800)
	// displayFriend($friend6, 2100)
	// displayFriend($friend7, 2400)

	// function displayFriend(elem, time) {
	if ($(window).width() >= 900){
		setTimeout(function(){
			 $('.friend-8').css('display', 'block')
		}, 6000)
	}

})
</script>