

<div class="row">
  <div class="col-md-12">
   <h1 id="landing-header">Let's Get Tickets!</h1>
    <p id="tagline">
      Never miss out on a gig again.
    </p>
    <a href="/users/sign_up"><button class="btn btn-primary started" >Get started</button></a>
  </div>
  <div class="col-md-6 landing-box">
    <ol>
      <div id="steps">
        <li>Create an event</li>
        <li>Invite your friends</li>
        <li>Set a deadline for RSVPs</li>
      </div>
    </ol>
    <p id="cta">Buy the tickets!</p>
    
  </div>
</div>
