<div class="login-window">
	<% if !current_user %>
		<p>To create and manage events you will need to be logged in.</p>
		<div class="login-btn">
			<%= link_to "Log in with Facebook", "/auth/facebook?origin=" +  @current_path, id: "sign_in", class: "btn btn-primary" %>
		</div>
	<% else %>
		<h3>Welcome <%= @current_user.name %></h3>
		<p>You are now logged in.</p>
	<% end %>
</div>