.guest-list
  .friends-list.payments
    - @invites.each do |invite|
      - get_rsvp_badge(invite)
      .guest
        div class="inline sticker sticker-#{invite.rsvp}" data-badge="#{@badge}" id="invite-#{invite.id}"
          - if invite.guest.image
            = image_tag invite.guest.image, class: 'avatar inline'
          - else
            = icon('user', '', class: 'avatar guest-avatar inline')
        p.inline= invite.guest.name
        .onoffswitch
          = form_for invite, remote: true do |f|
            = f.hidden_field :event_id, value: params[:id]
            = f.check_box :payment, class: "onoffswitch-checkbox"
            = f.submit
            label.onoffswitch-label for="myonoffswitch" 
              span.onoffswitch-inner
              span.onoffswitch-switch
