.alert {
	text-align: center;
	color:#fff;
	margin: 5px 20px;
	font-size: 14px;
}

.alert-notice {
	border: solid 1px darken($green, 40%);
	background: darken($green, 20%);
	color: #fff;
	.btn, p {
		display: inline-block;
	}
}

.alert-error {
	background: $tertiary-colour;
}

