.sticker {
	position:relative;
	display: inline-block;
	text-align:center;
	width: 50px; height: 50px;
	margin: 3px;
}

.sticker:after {
	position:absolute;
	top:-6px;
	right:-6px;
	font-size:12px;
	line-height:18px;
	width:18px;height:18px;
	border-radius: 50%;
	background: #fff;
}
.sticker-going[data-badge]:after {
	content:attr(data-badge);
	color: $green;
	border: solid 1px $green;
}

.sticker-not-going[data-badge]:after {
	content:attr(data-badge);
	color: $red;
	border: solid 1px $red;
	font-size: 12px;
	line-height:14px;
}
.sticker-maybe[data-badge]:after {
	content:attr(data-badge);
	color: $orange;
	border: solid 1px $orange;
}
