.sticker {
	position:relative;
	background: none;
	display: inline-block;
	color: #000;
	text-align:center;
	width: 40px; height: 40px;
}
.sticker-going[data-badge]:after {
	content:attr(data-badge);
	position:absolute;
	top:-8px;
	right:-4px;
	font-size:.7em;
	line-height:18px;
	width:18px;height:18px;
	background: $green;
	border-radius: 50%;
}

.sticker-not-going[data-badge]:after {
	content:attr(data-badge);
	position:absolute;
	top:-8px;
	right:-4px;
	font-size:.7em;
	width:18px;height:18px;
	line-height:18px;
	background: $red;
	border-radius: 50%;
}
.sticker-maybe[data-badge]:after {
	content:attr(data-badge);
	position:absolute;
	top:-8px;
	right:-4px;
	font-size:.7em;
	width:18px;height:18px;
	line-height:18px;
	background: $orange;
	border-radius: 50%;
}
