.button {
	padding: 10px 20px;
	border: solid 1px $secondary-colour;
	&.button:hover {
		background:$tertiary-colour;
	}
}

.confirm, .decline {
	border-radius: 5px;
}

.confirm {
	background-color: $btn-submit-confirm-bg;
	border: solid 1px $confirm;
}

.decline {
	background-color: $btn-submit-decline-bg;
	border:solid 1px $decline;
}

.rsvp-edit {
	background-color: $btn-submit-update-bg;
	border: none;
}

.decline:hover {
	background-color: $btn-submit-decline-hover-bg;

}

.confirm:hover {
	background-color: $btn-submit-confirm-hover-bg;
}

#started-button {
	text-decoration:none;
	margin:0;
	color: $main-font-colour;
}

.started {
	width: 200px;	
	display:block;
	margin: 0 auto;
	background: $btn-signup-bg;
	border: solid 1px darken($btn-signup-bg, 15%);
}

.started:hover {
	background: lighten($btn-signup-bg, 5%);
	color: $main-font-colour;
}

.rsvp-button, #edit_invite {
	display:inline-block;
	margin: 0 auto;
}



