.button {
	padding: 10px 20px;
	border: solid 1px $secondary-colour;
	&.button:hover {
		background:$tertiary-colour;
	}
}

.btn {
  min-width: 100px;
}

.btn.btn-green {
	margin: 0 15px;
  border: solid 1px darken($green, 10%);
  color: darken($green, 15%);
  background: $green;
  &:hover {
    background: darken($green, 13%);
    color: $green;
    border: solid 1px darken($green, 10%);
  }
}

.form .btn.btn-green {
	width: 100%;
	color: #fff;
	margin: 5px 0;
}

.btn {
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	cursor: pointer;
	
}
.cash {
	background: $green;
	border-bottom: solid 3px darken($green, 15%);
	&:hover {
		background: lighten($green, 10%);
		color: #fff;
	}
}
.rsvp-btn {
	background: darken($grey, 15%);
	border-bottom: solid 3px darken($grey, 40%);
	color: darken($grey, 50%);
	&:hover {
		color: #fff;
		&.maybe {
			background: $orange;
			border-bottom: solid 3px darken($orange, 10%);
		}
		&.going {
			background: $green;
			border-bottom: solid 3px darken($green, 10%);
		}
		&.not-going {
			background: $red;
			border-bottom: solid 3px darken($red, 10%);
		}
	}
	&.active {
		color: #fff;
		&.maybe {
			background: $orange;
			border-bottom: solid 3px darken($orange, 10%);
			&:hover {
				background: lighten($orange, 5%);
				color: #fff;
			}
		}
		&.going {
			background: $green;
			border-bottom: solid 3px darken($green, 10%);
			&:hover {
				background: lighten($green, 5%);
				color: #fff;
			}
		}
		&.not-going {
			background: $red;
			border-bottom: solid 3px darken($red, 10%);
			&:hover {
				background: lighten($red, 5%);
				color: #fff;
			}
		}
	}
	.icon {
		font-size: 22px;
	}
	p {
		margin-top: -2px;
		font-size:11px;
	}
}
.bank {
	background: $orange;
	border-bottom: solid 3px darken($orange, 10%);

	&:hover {
		background: lighten($orange, 10%);
		color: #fff;
	}
}

.onoffswitch {
	position: relative; width: 90px;
	display: inline-block;
	float: right;
	margin: 10px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox, #plan_ticket {
	display: none;
}

.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 1px solid #999999; border-radius: 10px;
}

.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 14px; color: white; font-family: Helvetica;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "paid";
	font-weight: normal;
	padding-left: 10px;
	background-color: $green; color: #FFFFFF;
}

.onoffswitch-inner:after {
	content: "not paid";
	font-weight: normal;
	padding-right: 10px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}

.onoffswitch-switch {
	display: block; width: 18px; margin: 6px;
	background: #FFFFFF;
	border: 1px solid #999999; border-radius: 8px;
	position: absolute; top: -4px; bottom: 1px; right: 63px;
	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: -4px; 
}

.invite-btns {
	padding-top: 8px;
	text-align: center;
	cursor: pointer;
	.bttn {
		padding: 4px 8px;
		margin: 0 5px;
		display: inline-block;
		&.invite-btn {
			border: solid 1px darken($grey, 35%);
			&:hover {
				background: #fff;
			}
		}
		&.share-btn {
			background: $blue;
			color: #fff;
			&:hover {
				background: lighten($blue, 5%);
			}
		}
	}
}


