.campaign {
	padding-top: 80px;
	color: darken($green, 15%);
	.row {
		position: relative;
	}
	.icons {
		font-size: 60px;
	}
	.stick-figure {
		margin-left: 46%;
		margin-top: 220px;
		img {
			height: 140px;
		}
	}
	.step-1 {
		left: 20%;
		top: 25vh;
		position: absolute;
	}
	.step-4 {
		right: 20%;
		top: 25vh;
		position: absolute;
	}
	.step-2 {
		position: absolute;
		left: 28%;
	}
	.step-3 {
		position: absolute;
		right: 28%;
	}
	
	.step-item {
		margin: 10px;
		padding: 20px;
		text-align: center;
		border: solid 1px darken($green, 15%);
		width:120px;
		.icons {
			font-size: 32px;
		}
		&.center {
			margin: 0 auto;
		}

	}
	.campaigner {
		position: absolute;
		left: 20px;
		top: 50vh;
		font-weight: 200;
	}
	.little-p {
		height: 90px;
	}
	.step-copy {
		font-size: 18px;
	}

	.campaign-event {
		margin: 20px;
	}
	.event-details {
		.teams {
			text-align: center;
			margin: 0 auto;
			p {
				font-size: 24px;
			}
		}
		.team {
			display: inline-block;
			vertical-align: middle;
		}
		.inline {
			display: inline-block;
		}
		.details {
			max-width: 200px;
			margin: 0 auto;
		}
	}
}

@media only screen and (max-width : 640px) {
	.step-1 {
		left: 5%;
	}
	.step-4 {
		right: 5%;
	}
	.step-2 {
		left: 8%;
	}
	.step-3 {
		right: 8%;
	}
}
