.campaign {
	.icons {
		font-size: 60px;
	}
	.step-item {
		text-align: center;

	}

	.campaign-event {
		margin: 20px;
	}
	.event-details {
		.teams {
			text-align: center;
			margin: 0 auto;
			p {
				font-size: 24px;
			}
		}
		.team {
			display: inline-block;
			vertical-align: middle;
		}
		.inline {
			display: inline-block;
		}
		.details {
			max-width: 200px;
			margin: 0 auto;
		}
	}

	.steps {
		.step-item {
			text-align: center;
		}
		.icons {
			font-size: 60px;
		}
	}
}