$green: #00B62F;
$orange: #FD9802;
$red: #e71523;
$blue: #43609C;
$grey: #eaeaea;
$darkGrey: darken($grey, 10%);
$secondary-colour: #FF773D;
$tertiary-colour: #F54828;
$main-font-colour: #000;
$inverse-font-colour: #fff;
