// base colours

$main-colour: #542437;
$secondary-colour: #FF773D;
$bg-highlight-1: #BD1550;
$bg-highlight-2: #E97F02;
$bg-highlight-3: #F8CA00;

//  buttons

$btn-hover-bg: #F54828;

$btn-submit-update-bg: rgba(238,238,238, 0.1);
$btn-submit-decline-bg: rgba(235,21,35, 0.2);
$btn-submit-confirm-bg: rgba(0,193,118, 0.4);
$btn-submit-decline-hover-bg: rgba(235,21,35, 1);
$btn-submit-confirm-hover-bg: rgba(0,193,118, 1);

// fonts

// links
$main-link-colour: #fff;
$main-link-hover-colour: #fff;
$main-link-hover-bg: #F54828;

// navbar
$navbar-default-toggle-border-color: #FF773D;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-bg: #F54828;
$navbar-default-toggle-hover-bg: #fff;
$navbar-default-toggle-icon-bar-bg: #FF773D;
$navbar-default-link-hover-color: #fff;
$navbar-default-brand-hover-color: #1B676B;
$navbar-inverse-bg: #000;

// tables
$table-bg-hover: #822339;
