$green: #00B62F;
$orange: #FD9802;
$red: #e71523;
$blue: #43609C;
$grey: #eaeaea;
$darkGrey: darken($grey, 10%);
// #E42E93; flaming galah
// #462EBA; purple!
// #00B62F; bright green
// #E07F93; real galah
$secondary-colour: #FF773D;
$tertiary-colour: #F54828;
$main-font-colour: #000;
$inverse-font-colour: #fff;
