.countdown-wrapper {
	p {
		font-size: 11px;
	}
}
.time-spacer {
	vertical-align: top;
	.colon {
		line-height: 50px;
	}
}
.countdown {
	text-align:center;
}
.col {
	display: inline-block;
	padding: 0 5px;
	min-width: 58px;
}
.ce-seconds, .ce-minutes, .ce-hours, .ce-days {
	display:block;
	height: 50px;
	width: 50px;
}

.ce-seconds-digit, .ce-minutes-digit, .ce-hours-digit, .ce-days-digit  {
	font-size: 36px;
	line-height: 50px;
	font-family: 'Roboto Condensed', sans-serif
}

.ce-seconds-label, .ce-minutes-label, .ce-hours-label, .ce-days-label {
	font-size: 11px;
}
