.countdown {
	text-align:center;
}
.col {
	display: inline-block;
	padding: 0 5px;
	background: #000;
	color: #fff;
	min-width: 58px;
}
.ce-seconds, .ce-minutes, .ce-hours, .ce-days {
	display:block;
}

.ce-seconds-digit, .ce-minutes-digit, .ce-hours-digit, .ce-days-digit  {
	font-size: 18px;
}

.ce-seconds-label, .ce-minutes-label, .ce-hours-label, .ce-days-label {
	font-size: 11px;
}
