// .event-container {
// 	max-width: 900px;
// 	margin: 0 auto;
// 	.col-md-4 {
// 		padding:0;
// 	}
// 	.friends {
// 		padding: 5px;
// 	}
// }
// .step {
// 	margin: 0 3%;
// 	height: 300px;
// 	border-radius: 30px;
// 	border: solid 1px $wetSand;
// 	border-bottom: solid 5px darken($wetSand, 15%);
// 	margin: 5px;
// 	vertical-align: top;
// 	background: $sand;
// 	padding: 10px;
// }
// .step-title {
// 	&.step-3 {
// 		font-size: 18px;
// 	}
// 	span {
// 		display: inline-block;
// 		background: darken($wetSand, 40%);
// 		height: 30px;
// 		text-align: center;
// 		width: 30px;
// 		color: $sand;
// 		border-radius: 5px;
// 		padding: 2px;
// 	}
// }

.event-details {
	p {
		color: darken($wetSand, 40%);
		&.cost {
			background: darken($wetSand, 40%);
			padding: 10px;
			border-radius: 5px;
			color: #fff;	
		}
		i {
			font-size: 40px;
			text-align: right;
			color: darken($wetSand, 40%);
		}
	}
	.teams {
		text-align: center;
		margin: 0 auto;
		p {
			font-size: 24px;
		}
	}
	.team {
		display: inline-block;
		vertical-align: middle;
		width: 30%;

	}
	.inline {
		display: inline-block;

	}
	i.inline {
		min-width: 20px;
		padding: 10px;
	}
	.center {
		text-align: center;
	}
	.details {
		text-align: left;
		max-width: 200px;
		margin: 0 auto;
	}
}

.settings {
	padding: 5px 0;
	font-size: 28px;
	float: right;
	position: relative;
	ul {
		padding: 0;
		font-size: 16px;
		width: 120px;
		li {
			list-style: none;
			ul {
				position: absolute;
				top: 40px;
				display:none;
				background: $wetSand;
				li {
					height: 40px;
					text-align: right;
					border: solid 1px darken($wetSand, 15%);
					&:hover {
						background: $sand;
					}
				}
			}
			a {
				display: block;
				padding: 0 5px;
				line-height: 40px;
			}
		}
		li:hover ul {
			display: block;
		}
	}
}
.event-header {
	padding: 5px;
	h3, .settings {
		display: inline-block;
	}
}
.event-title {
	img, h1 {
		display: inline-block;
	}
	img {
		vertical-align: top;
	}
}
.payment {
	margin: 10px;
}
.friends {
	max-width: 50%;
	margin: 0 auto;
}
.friend {
	.name, .sticker{
		display: inline-block;
	}
}
.outcome {
	display: none;
}
.undecided {
	display: block;
}
.question {
	font-size: 60px;
}
.rsvp-login {
	display: none;
}
.avatar {
	height: 40px;
	width: 40px;
}
.guest-avatar {
	font-size: 30px;
	padding: 5px;
	vertical-align: middle;
	background: darken($wetSand, 15%);
}