.home-page-brand {
	color: darken($green, 15%);
	margin-top: 8vh;
	margin-left: 0px;
	#tagline {
		width: 240px;
		border-top: solid 1px darken($green, 15%);
	}
	#hp-btn {
		color: darken($green, 15%) !important;
		padding: 10px;
		width: 160px;
		border: solid 1px darken($green, 15%);
		text-align: center;
		&:hover {
			background: darken($green, 2%);
		}
	}
}
.notifications .alert-dismissable .close {
	top: 0;
	right: 0;
	color: #000;
}
.content-module {
	margin: 5px 0;
	padding: 10px;
	border-right: solid 1px darken(#eaeaea, 7%);
	border-left: solid 1px darken(#eaeaea, 7%);
	-webkit-box-shadow: 0 4px 2px -2px darken(#eaeaea, 9%);
	box-shadow: 0 4px 2px -2px darken(#eaeaea, 12%);
	&.top {
		margin-top: 10px;
	}
	.detail-label {
		text-align: center;
		i {
			font-size: 18px;
			width: 30px;
		}
		p {
			font-size: 11px;
		}
	}
	.detail p {
		line-height: 32px;
	}
}

.details, .invite { 
	.col-xs-3 {
		border-right: solid 1px $grey;
	}
}
.image-module {
	width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.video-container, .spotify-container {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-top: 30px;
	iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}
.spotify-container {
	padding-bottom: 14%;
}
.video-container {
	padding-bottom: 56.25%;
	margin-bottom: 5px;
}
.main .content-module {
	background: #fff;
	&.blackboard {
		background: #000;
		height: 200px;
		color: #fff;
	}
}
.main .media-module {
	background: $grey;
	border: none;
	margin: 5px 0;
	box-shadow: none;
	.delete-media {
		text-align: right;
		span {
			color: darken($grey, 25%);
			border: solid 1px darken($grey, 10%);
			padding: 3px;
			&:hover {
				color: #000;
			}
		}
	}
}
.add-media {
	.form .btn {
		margin: 0;
	}
	.form {
		margin-top: 20px;
	}
}
.media-icons {
	margin-top: 10px;
	text-align: center;
	.col-xs-4 {
		border-right: solid 1px darken($grey, 10%);
		cursor: pointer;
		color: darken($grey, 15%);
		&:hover, &.selected {
			color: $green;
		}
		&.selected p {
			border-bottom: solid 1px $green;
		}
		&:last-of-type {
			border-right: none;
		} 
	}
	i {
		font-size: 28px;
	}
	p {
		font-size: 11px;
		padding-bottom: 5px;
	}
}
.controls {
	padding-bottom: 5px;
	padding-top: 10px;
	.col-xs-4 {
		border-right: solid 1px darken($grey, 10%);
		&.highlight {
			cursor: pointer;
		}
		&.highlight:hover, &.highlight a:hover {
			color: $green;
		}
		&:last-of-type {
			border-right: none;
		} 
	}
}
.content-module .description {
	font-size: 12px;
}

.content-module.cost {
	background-color: $green;
	text-align: center;
	p {
		font-size: 32px;
		color: #fff;
		span {
			font-size: 12px;
			padding-left: 10px;
		}
	}
}

.content-module.invite {
	p {
		font-size: 12px;
	}
	.col-xs-9 p {
		line-height: 28px;
	}
}

.notifications {
	margin-left: auto;
	margin-right: auto;
}

.content-module.countdown-wrapper {
	padding: 10px 0;
	width: 100%;
	background: #000;
	color: #fff;
	text-align: center;
}

.little-p {
	height: 39px;
	margin-top: -7px;
}
.name-tagline {
	margin-left: -5px;
}

.create-event {
	margin-top: 20px;	
	float: right;
}
#brand-splash {
	font-size: 36px;
	padding-bottom: 8px;
	font-weight: 200;
}
.event-container {
	margin: 0 auto;
	text-align: center;
	max-width: 460px;
}
.container {
	padding: 20px 5px;
	max-width: 600px;
}

.event-title {
	background: #fff;
	color: #000;
	text-align: center;
}
.ticket-status {
	.event-alert {
		padding: 4px 8px;
	}
	.warning {
		border: solid 1px $red;
		color: $red;
	}
	.confirm {
		border: solid 1px $green;
		color: $green;
	}
}
.confirmed-guests {
	padding-top: 15px;
	color: $green;
	font-weight: 300;
	span {
		border: solid 1px $green;
		padding: 4px 8px;
		border-radius: 50%;
	}
}
.message  {
	display: none;
	max-width: 90%;
	margin: 0 auto;
}
.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
}

.payment {
	margin: 10px;
}
.rsvp {
	margin: 5px 0;
	padding: 10px;
}
.rsvp-login {
	margin-top: 20px;
	input, .btn, .submit {
		max-width: 250px;
		min-width: 250px;
	}
}
.rsvp-notice {
	margin: 5px;
}
.guest-list {
	margin: 10px auto 0 auto;
	text-align: left
}
.guest-register {
	display: none;
	#guest-name-input {
		color: #000;
	}
}
.view-guest-list {
	cursor: pointer;
	border-top: none;
}

.iconic.iconic-md:before {
	line-height: 50px;
}
.guest {
	border-bottom: solid 1px #eaeaea;
	.col-xs-9 {
		margin: 8px 0;
	}
	&:last-of-type {
		border: none;
	}
	.avatar {
		height: 30px;
		&.iconic-sm {
			padding-top: 6px;
		}
		&.iconic-sm:before {
			font-size: 24px;
		}
	}
	p.inline {
		padding-left: 10px;
		line-height: 30px;
		vertical-align: top;
	}
}
.inline.guest {
	color: darken(#eaeaea, 7%);
	border: none;
	&.going {
		color: $green;
	}
	&.not-going {
		color: $red;
	}
	&.maybe {
		color: $orange;
	}
}
.spacer {
	height: 100px;
}
.login-window {
	max-width: 420px;
	margin: 0 auto;
	margin-top: 80px;
	background: #fff;
	padding: 30px;
	text-align: center;
	.login-btn {
		padding: 15px;
	}
}
.event-listing {
	cursor: pointer;
}

// @media screen and (min-width:600px) {
// 	.home-page-brand {
// 		margin-top: 30px;
// 		margin-left: 100px;
// 	}
// 	.landing {
// 		background: url('beach.jpg') no-repeat;
// 		-webkit-background-size: cover;
// 		-moz-background-size: cover;
// 		-ms-background-size: cover;
// 		background-size: cover;
// 		.overlay {
// 			position: absolute;
// 			background-color: rgba(0,51,153, .4); // Old browsers
// 			@include filter-gradient(#003399, #00b051, vertical); // IE6-9
// 			@include background-image(linear-gradient(top,  rgba(0,182,47, .9) 20%,rgba(67,96,156, .7) 70%));
// 			z-index: 4;
// 			width: 100%;
// 			height: 100%;
// 		}
// 	}
// }