
.home-page-brand {
	color: darken($green, 15%);
	margin-top: 8vh;
	margin-left: 0px;
	#tagline {
		width: 240px;
		border-top: solid 1px darken($green, 15%);
	}
	#hp-btn {
		color: darken($green, 15%) !important;
		padding: 10px;
		width: 160px;
		border: solid 1px darken($green, 15%);
		text-align: center;
		&:hover {
			background: darken($green, 2%);
		}
	}
}
.notifications .alert-dismissable .close {
	top: 0;
	right: 0;
	color: #000;
}
.content-module {
	margin: 5px 0;
	padding: 10px 5px;
}
.image-module {
	width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.main .content-module {
	background: #fff;
	&.blackboard {
		background: #000;
		height: 200px;
		color: #fff;
	}
}

.content-module.details {
	.detail {
		font-size: 24px;
		padding: 5px 0;
		i {
			text-align: center;
			width: 30px;
			margin-right: 10px;
		}
		&.when {
			border-bottom: solid 1px #eaeaea;
		}
	}
}

.content-module.guests {
	h4.module-title {
		padding: 5px 0;
	}
	.panel-group {
		margin: 0;
		.panel {
			border: none;
		}
	}
	.panel-heading {
		background-color: #ffffff;
		border: none;
		text-align: center;
		padding: 0;
		a {
			text-decoration: none;
		}
		.view-list {
			background-color: lighten(#eaeaea, 5%);
			padding: 5px 0;
			&:after {
				content: "-";
			}
		}
		.collapsed {
			.view-list {
				background-color: #fff;
				&:hover {
					background-color: lighten(#eaeaea, 5%);
				}
				&:after {
					content: "+";
				}
			}
		}
	}
	.panel-body {
		padding: 10px 0 0 0;
	}
}

.content-module.cost {
	background-color: $green;
	text-align: center;
	p {
		font-size: 32px;
		color: #fff;
	}
}

.notifications {
	margin-left: auto;
	margin-right: auto;
}

.countdown-wrapper {
	padding: 10px 0;
	width: 100%;
	background: #000;
}

.little-p {
	height: 39px;
	margin-top: -7px;
}
.name-tagline {
	margin-left: -5px;
}
.small-p {
	margin-top: -8px;
	margin-left: -5px;
	height: 18px;
}

.create-event {
	margin-top: 20px;	
	float: right;
}
#brand-splash {
	font-size: 36px;
	padding-bottom: 8px;
	font-weight: 200;
}
.event-container {
	margin: 0 auto;
	text-align: center;
	max-width: 460px;
}
.container {
	padding: 20px 5px;
	max-width: 600px;
}

.event-title {
	background: #fff;
	color: #000;
	text-align: center;
	p {
		padding-top: 10px;
	}
}
.event-details {
	// width: 80%;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	i {
		font-size: 18px;
		width: 30px;
		padding: 5px;
		margin: 0 auto;
		text-align: center;
	}
}


.ticket-status {
	.event-alert {
		padding: 4px 8px;
	}
	.warning {
		border: solid 1px $red;
		color: $red;
	}
	.confirm {
		border: solid 1px $green;
		color: $green;
	}
}
.settings {
	padding: 5px 0;
	font-size: 28px;
	float: right;
	position: relative;
	ul {
		padding: 0;
		font-size: 16px;
		width: 120px;
		li {
			list-style: none;
			ul {
				position: absolute;
				top: 40px;
				display:none;
				background: $grey;
				li {
					height: 40px;
					text-align: right;
					border: solid 1px darken($grey, 15%);
					&:hover {
						background: $grey;
					}
				}
			}
			a {
				display: block;
				padding: 0 5px;
				line-height: 40px;
			}
		}
		li:hover ul {
			display: block;
		}
	}
}
.event-header {
	padding: 5px;
	h3 {
		display: inline-block;
	}
}
.confirmed-guests {
	padding-top: 15px;
	color: $green;
	font-weight: 300;
	span {
		border: solid 1px $green;
		padding: 4px 8px;
		border-radius: 50%;
	}
}
.event-notice {
	min-height: 85px;
	width: 100%;
	background: #000;
	padding: 10px;
	color: #fff;
	position: fixed;
	left: 0;
	bottom:0;
	z-index: 9;
	.invite-friends {
		max-width: 80%;
		margin: 0 auto;
	}
	.invite-btns {
		padding-top: 8px;
		text-align: center;
		cursor: pointer;
		.bttn {
			padding: 4px 8px;
			margin: 0 5px;
			display: inline-block;
			&.invite-btn {
				border: dotted 1px darken($grey, 35%);
				background: rgba($grey, 0.3);
			}
			&.share-btn {
				border: dotted 1px $blue;
				background: rgba($blue, 0.6);
				&:hover {
					background: rgba($blue, 1);
				}
			}
		}
	}
	p {
		text-align: center;
	}
	.ticket-status {
		margin: 0 auto 3px auto;
		text-align: center;
		padding: 8px;
		width: 80%;
		&.amber {
			background: rgba($orange, .4);
			border: dotted 1px $orange;
		}
		&.green, &.guest-count {
			background: rgba($green, .4);
			border: dotted 1px $green;
			span {
				background: #fff;
				padding: 0 5px;
				color: #000;
				font-size: 18px;
				border-radius: 10px;
			}
		}
	}
	.owner-confirm-ticket {
		max-width: 400px;
		margin: 0 auto;
		padding-top: 5px;
		p, .ticket-form {
			width: 49%;
		}
		form {
			margin: 0;
			padding: 0;
		}
	}
	.close-btn {
		color: #fff;
		padding: 3px;
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;
		&:hover {
			background: darken(#fff, 75%);
		}
	}
}
.message  {
	display: none;
	max-width: 90%;
	margin: 0 auto;
}
.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
}

.payment {
	margin: 10px;
}
.friend {
	.name, .sticker{
		display: inline-block;
	}
}
.outcome {
	display: none;
}
.undecided {
	display: block;
}
.question {
	font-size: 60px;
}
.rsvp .rsvp-btn {
	margin: 0 5%;
}
.rsvp-login {
	margin-top: 20px;
	input, .btn, .submit {
		max-width: 250px;
		min-width: 250px;
	}
}
.rsvp-notice {
	margin: 5px;
}

.avatar {
	height: 40px;
	width: 40px;
}
.guest-avatar {
	font-size: 30px;
	padding: 5px;
	vertical-align: middle;
	background: darken($grey, 15%);
}
.guest-list {
	margin: 10px auto 0 auto;
	text-align: left
}
.guest-register {
	display: none;
}
.view-guest-list {
	cursor: pointer;
	border-top: none;
}
.friends-list{
	display:none;
	text-align: left;
	&.payments {
		display: block;
	}
	i {
		text-align: center;
	}
	.guest {
		padding-top: 8px;
		border-bottom: solid 1px $darkGrey;
	}
}
.friends-icons {
	white-space: nowrap;
	overflow: hidden;
	border-bottom: none;
	.avatar {
		height: 30px;
		width: 30px;
		text-align: center;
	}
	.guest-avatar {
		font-size: 20px;
		padding: 5px;
		vertical-align: middle;
		background: darken($grey, 15%);
	}
}


.spacer {
	height: 100px;
}
.event-settings{
	float: right;
	list-style: none;
	li {
		display: inline-block;
	}
	a {
		margin-top: 5px;
		padding: 5px 10px;
		float:right;
		font-size: 11px;
		background: $grey;
		border-radius: 5px;
		color: #999999;
		border:solid 1px #999999;
		&:hover {
			color: #999999;
			background: lighten($grey, 5%);
		}				
	}
}				


.login-window {
	max-width: 420px;
	margin: 0 auto;
	margin-top: 80px;
	background: #fff;
	padding: 30px;
	text-align: center;
	.login-btn {
		padding: 15px;
	}
}

// @media screen and (min-width:600px) {
// 	.home-page-brand {
// 		margin-top: 30px;
// 		margin-left: 100px;
// 	}
// 	.landing {
// 		background: url('beach.jpg') no-repeat;
// 		-webkit-background-size: cover;
// 		-moz-background-size: cover;
// 		-ms-background-size: cover;
// 		background-size: cover;
// 		.overlay {
// 			position: absolute;
// 			background-color: rgba(0,51,153, .4); // Old browsers
// 			@include filter-gradient(#003399, #00b051, vertical); // IE6-9
// 			@include background-image(linear-gradient(top,  rgba(0,182,47, .9) 20%,rgba(67,96,156, .7) 70%));
// 			z-index: 4;
// 			width: 100%;
// 			height: 100%;
// 		}
// 	}
// }