.form {
  .content-module {
    padding: 5% 10%;
    background: #fff;
  }
  .form-group {
    margin-bottom: 8px;
  }
  .controls {
    padding-top: 0;
  }
  h1 {
    margin-bottom: 10px;
  }
  p {
    margin-left: 5px;
    margin-bottom: 15px;
  }
  .btn {
    margin-top: 20px;
  }
  .help-inline {
    background: #a94442;
    color: #fff;
    padding: 2px 20px;
  }
}