.guest-status {
  text-align: center;
  border-right: solid 1px #eaeaea;
  &:last-of-type {
    border-right: none;
  }
  .avatars {
    text-align: left;
  }
  hr {
    margin: 10px auto;
    width: 95%;
  }
}