.landing {
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: relative;
	background-color: rgb(0,182,47);
}
.home-page {
	.planner-container {
		position: absolute;
		top: 30vh;
		left: 51vw;
		.planner {
			position: relative;
			z-index: 999;
			img {
				height: 80px;
			}

		}
		
		.pin {
			z-index: 999;
			position: relative;
			right: 35px;
			top: -45px;
			display:inline-block;	
			img {
				height: 50px;
			}
		}
		.circle {
			border-radius: 50%;
			border: solid 1px $green;
			position: relative;
		}
		.innerCircle {
			height: 15px;
			width: 60px;
			top: -55px;
			left: -35px;
			border-color: darken($green, 3%);
		}

		.middleCircle {
			height: 30px;
			width: 120px;
			top: -77px;
			left: -65px;
		}
		.outerCircle {
			height: 45px;
			width: 180px;
			top: -113px;
			left: -93px;
		}
	}
}

@mixin circleanimation($name, $duration, $delay) { 
	-webkit-animation-name: $name;
	-webkit-animation-duration: $duration;
	-webkit-animation-delay: $delay; /* Chrome, Safari, Opera */
	-webkit-animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: $name;
	-moz-animation-duration: $duration;
	-moz-animation-delay: $delay; /* Chrome, Safari, Opera */
	-moz-animation-fill-mode: forwards;
	-moz-animation-iteration-count: infinite;
	animation-name: $name;
	animation-duration: $duration;
	animation-delay: $delay; /* Chrome, Safari, Opera */
	animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;

}

@mixin circlekeyframes($name) { 
	@-webkit-keyframes #{$name} { @content }
	@-moz-keyframes    #{$name} { @content }
	@-ms-keyframes     #{$name} { @content }
	@keyframes         #{$name} { @content }
}

@mixin circle($animName, $colorStart, $colorEnd, $duration, $delay){
	.#{$animName} { 
		@content;
		@include circleanimation($animName, $duration, $delay); 
	}
	@include circlekeyframes($animName) {
		0%, 20% { border-color: $colorStart;}
		60% { border-color: $colorEnd; }
		100% { border-color: $colorStart;}

	}
}

@include circle($animName: innerCircle, $colorStart: $green, $colorEnd: darken($green,20%), $duration: 2s, $delay: 0 );
@include circle($animName: middleCircle, $colorStart: $green, $colorEnd: darken($green, 16%), $duration: 2s, $delay: .3s );
@include circle($animName: outerCircle, $colorStart: $green, $colorEnd: darken($green, 12%), $duration: 2s, $delay: .6s );




