html, body, .landing {
	height:100%;
}
.container-fluid {
	max-width: 900px;
}

.inner-container {
	padding: 5px 15px;
	margin: 1em;
}

.icons {
	font-size:70px;
	margin: 20px 0 10px 0;
}

body {
	background: #542437;
	color:white;
}


#content {
	padding: 0 10px;
	min-height:100%;
	border-radius: 10px;
	max-width: 900px;
	margin: 25px auto;
	border: solid 1px #FF773D;
}

.event-detail, .guest, .decline {
	border: solid 1px #FF773D;
	border-bottom: solid 1px #F54828;
	border-left: solid 1px #E97F02;	
	border-right: solid 1px #C02942;

}
.nav-container {
	max-width: 800px;
	margin:0 auto;
}






.event-detail {
	border-radius: 5px;
	padding: 10px;
}

.event-detail-container {
	display-inline:block;
	font-size: 16px;
}

.event-detail-label {
	color: #FF773D;
	font-size: 14px;
}




.confirmed-list {
	margin: 15px 0;
}
.guest {
	width: 100%;
	border-bottom: none;
}

.guest-name {
	display:inline-block;
	width:60%;
	padding: 10px 0;
	margin-left: 10px;
}

.rsvp-container {
	display:inline-block;
	margin: 5px auto;
	float:right;

}
.rsvp {
	margin: 0 5px;
	min-width: 40px;
}


.dropdown-menu {
	background:#822339 ;
}


.stripe {
	height: 30px;
	width:100%;
}

#background1 {
	background: #BD1550;
	bottom:60px;
	left:0;
}

#background2 {
	background: #E97F02;
	bottom:30px;
	left:0;
}

#background3 {
	background: #F8CA00;
	bottom:0;
	left:0;
}


.container-title {
	margin: 30px;
}

.controls {
	text-align: right;
}


.col {
	display: inline-block;
	padding: 0 5px;
	margin: 0 5px;
	text-align:center;
	background: #000;
	width: 65px;
}
.ce-seconds, .ce-minutes, .ce-hours, .ce-days {
	display:block;
}

.ce-seconds-digit, .ce-minutes-digit, .ce-hours-digit, .ce-days-digit {
	font-size: 32px;
}

.details {
	padding: 0 15px;
}

.form {
	margin: 30px;
}

.alert {
	text-align: center;
	color:#fff;
	margin: 5px 20px;
	font-size: 14px;
}

.alert-notice {
	background: #8A9B0F;
	
}

.alert-error {
	background: #F54828;
}

.event-list-date {
	width:80px;
}

.event-list-title {
	font-size:18px;

}

.event-list-cost {
	font-size: 24px;
}


.event-listing {
	cursor:pointer;
}


//  landing page
.landing-box {
	
	padding:15px;
	border-radius: 20px;
	margin: 50px;
	
}

#steps {
	font-size: 18px;
	color: #FF773D;
	margin: 0 40px;
	text-align:center;
}




	


#landing-header {
	font-family:'Rock Salt', cursive;
	color:#FF773D;
	font-size:60px;
	text-align:center;
	margin-top: 40px;
}
.landing {
	max-width: 960px;
	margin:0 auto;
}
#cta {
	font-family:'Rock Salt', cursive;
	font-size: 36px;
	text-align:center;
	color: #000;
}

.step-item {
	border: solid 1px #FF773D;
	margin: 10px 20px;
	border-radius: 20px;
}

.step-copy {
	height:100px;
}

#tagline {
	color:#fff;
	margin:20px;
	font-size: 24px;
	text-align:center;

}



.spotlight {
	font-size: 36px;
}

#landing {
	background-size:100%;
}