.navbar {
	background: $green;
}

footer {
	margin-top: 80px;
	background: darken($grey, 5%);
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 60px; 
}

.navbar {
	margin: 0;
	text-align:center;
	border:none;
	border-radius: 0;
}

.navbar .small-p {
	margin-top: -8px;
	margin-left: -5px;
	height: 18px;
}
@media screen and (max-width: 768px) {
	#bs-example-navbar-collapse-1 {
		min-height: 90px;
	}
}
.nav {
	display:inline-block;
	height: 40px;
	padding: 5px 0 0 0;

}
.nav-container {
	max-width: 800px;
	margin:0 auto;
}


.navbar-right {
	margin: 0 auto;
}


.nav a {
	padding:10px 20px;
	margin: 10px auto;
	color: #fff;
}
.navbar-right > li > a {
	margin:0;	
}

.navbar-right {
	padding-top:0;
}
.dropdown-menu {
	background: $green;
}
.navbar-link:hover {
	background: darken($green, 10%)
}
.dropdown-menu li a:hover {
	background: darken($green, 5%);
}


footer ul {
	margin: 0;
	padding:0;
}

footer li {
	display: inline-block;
}

footer ul li a{
	display:inline-block;
	height: 60px;
	padding: 20px;
	display:inline-block;
}

footer a {
	padding: 0 40px;
	color: darken($grey, 55%);
}

footer a:hover {
	text-decoration:none;
	color: darken($grey, 55%);
	background: darken($grey, 5%);
}

@media only screen and (max-width : 320px) {
	.navbar-collapse {
		padding: 10px;
	}
}