.page-wrap {
	min-height: 100%;
	margin-bottom: -60px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 60px; 
}
.navbar, footer {
	background: $feature-colour;
}

.navbar {
	margin: 0;
	text-align:center;
	border:none;
	border-radius: 0;
}

.nav {
	display:inline-block;
	height: 40px;
	padding: 5px 0 0 0;

}
.nav-container {
	max-width: 800px;
	margin:0 auto;
}


.navbar-right {
	margin: 0 auto;
}


.nav a {
	padding:10px 20px;
	margin: 10px auto;
	color: #fff;
}
.navbar-right > li > a {
	margin:0;	
}

.navbar-right {
	padding-top:0;
}
.dropdown-menu {
	background:#822339 ;
}

footer {
  height: 60px;
  width: 100%;
  text-align:center;
}

footer ul {
	margin: 0;
	padding:0;
}

footer li {
	display: inline-block;
}

footer ul li a{
	display:inline-block;
	height: 60px;
	padding: 20px;
	display:inline-block;
}

footer ul li a:hover {
	background: $tertiary-colour;
}

footer a {
	padding: 0 40px;
	color:#fff;
}

footer a:hover {
	color: #fff;
	text-decoration:none;
}