@import url(http://fonts.googleapis.com/css?family=Lato:100,300|Josefin+Sans:100);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
$main-font: 'Lato';
.navbar-brand {
	font-family: $main-font, sans-serif;
	font-weight: 400;
}
a {
	color: $main-font-colour;
	text-decoration:none;
	&:hover {
		color: $main-font-colour;
		text-decoration:none;
	}
}

h1 {
	font-size: 42px;
	font-family: $main-font, sans-serif;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

p.quote {
	font-style: italic;
}

input {
	color:$inverse-font-colour;
}
.content {
	h1, h2, h3, h4, p, i {
		color: darken($grey, 40%);
	}
}

