a {
	color: $main-font-colour;
	text-decoration:none;
	&:hover {
		color: $main-font-colour;
		text-decoration:none;
	}
}

.dropdown-menu li a:hover {
	background: $secondary-colour;
}

input {
	color:$inverse-font-colour;
}