/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
a {
	color:black;
}
body {
	max-width: 600px;
	margin: 0 auto 400px auto;
}

#main {
	float:left;
	margin: 0;
	width: 60%;
}
#right {
	float:left;
	margin: 0;
	width: 40%;
}

img {
	max-height: 200px;
}

header {
	padding: 10px;
	margin: 5px;
}

footer {
	padding: 10px;
	margin: 5px;

}

/*div:hover{
	/*border: solid red 1px;*/

    /*-webkit-transition: all 0.5s linear;*/
    /*transition: all 0.5s linear;*/

p{
	/*border:solid blue 1px;*/
}
.list_image {
	float:left;
	display:block;
	height:100px;
	padding: 5px;
	width:auto;
	margin: 0 auto;
	
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#notice {
	color:green;
}
.alert {
	color:red;
	font-size: 18px;
}


/*div:hover {
	background:grey;
	opacity: 0.1;
	z-index: -1;
}*/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
