/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require scaffolds
 *= require_tree .
 */


 .field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}



$navbar-default-toggle-border-color: #1B676B;
$navbar-default-link-color: #428bca;
$navbar-default-link-hover-bg: #F54828;
$navbar-default-toggle-hover-bg: #EAFDE6;
$navbar-default-toggle-icon-bar-bg: #1B676B;
$navbar-default-link-hover-color: #fff;
$navbar-default-brand-hover-color: #1B676B;

@import 'bootstrap';

.container-fluid {
	max-width: 1000px;
}

.container {
	max-width: 700px;
	margin: 5px auto;
	height: 100%;
	/*background: #fff;*/
	/*padding: 15px;*/
	border-radius: 10px;
	padding-left:0;
	padding-right:0;
}

.event-container {
	padding: 15px;
}

/*html {
    position: relative;
    min-height: 100%;
}*/
body {
    background: #2E0D23;
    
    height:100%;
    color:white;
}
.container, .event-detail, .guest, .decline {
	border: solid 1px #F54828;
}

.navbar, footer {
	background: #300030;

}

.navbar {
	margin: 0;
	text-align:center;
	/*border-bottom: solid #44642A 2px;*/
}

.event-detail {
	
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
}

.event-detail-label {
	color: #F54828;
}

.confirm, .decline {
	border-radius: 5px;
}

.confirm {
	/*background: #00C176;*/
	background-color: rgba(0,193,118, 0.4);
	border: solid 1px #00C176;
}

.decline {
	/*background: #EB1523;*/
	background-color: rgba(235,21,35, 0.2);
	border:solid 1px #EB1523;

}

.decline:hover {
	/*background: #EB1523;*/
	background-color: rgba(235,21,35, 1);

}

.confirm:hover {
	background-color: rgba(0,193,118, 1);
}

.confirmed-list {
	margin: 15px 0;
}
.guest {
	padding: 10px;
	border-bottom: none;

}

.col {
	display: inline-block;
	padding: 0 5px;
	margin: 0 5px;
	text-align:center;
	background: #000;
	width: 65px;
}
.ce-seconds, .ce-minutes, .ce-hours, .ce-days {
	display:block;
}

.ce-seconds-digit, .ce-minutes-digit, .ce-hours-digit, .ce-days-digit {
	font-size: 32px;
}

.details {
	padding: 0 15px;
}

footer {
	position:relative;
	left:0;
	right:0;
  height: 60px;
  width: 100%;
  text-align:center;
	margin-top: 80px;

}

footer ul {
	margin: 0;
	padding:0;
}

footer li {
	display: inline-block;
}

footer ul li a{
	display:inline-block;
	height: 60px;
	padding: 20px;
	display:inline-block;
}

footer ul li a:hover {
	background: #F54828;
}

footer a {
	padding: 0 40px;


}

footer a:hover {
	color: #fff;
	text-decoration:none;
}

.nav-container {
	max-width: 800px;
	margin:0 auto;

}

.logo {
	height:40px;

}

.nav {
	display:inline-block;
	height: 40px;
	padding: 5px 0 0 0;

}

.left {
	width: 200px;
	margin-left: 200px;
}


.rsvp {
	display:inline-block;
	width: 100%;
	margin:5px 0;
	padding: 10px;
}

.landing-box {
	background-color:rgba(255,255,255,0.9);
	padding:15px;
	border-radius: 20px;
	margin: 50px 24%;
	
}

#steps {
	width:100%;
	font-size: 18px;
}

.form {
	margin: 5px;
}

	
.started {
	width: 200px;
	
	display:block;
	margin: 0 35%;
}

#landing-header {
	font-family:'Rock Salt', cursive;
	color:#fff;
	font-size:60px;
	text-align:center;
	margin-top: 40px;
}
.landing {
	background:none;
}
#cta {
	font-family:'Rock Salt', cursive;
	font-size: 36px;
	text-align:center;
}

ol {
	margin: 0 25px;
	padding: 15px;
}

#tagline {
	color:#000;
	margin:20px;
	font-size: 24px;
	text-align:center;

}

button {
	margin: 5px;
	/*width: 140px;*/
}

.navbar-right {
	margin: 0 auto;
}


.nav a {
	padding:10px 20px;
	margin: 10px auto;
	color:white;
}

.spotlight {
	font-size: 36px;
}



#landing {
	background: url(http://feminspire.com/wp-content/uploads/2012/12/bigstock_silhouettes_of_concert_crowd_i_1565261621.jpg) no-repeat;
	background-size:100%;
	height: 680px;
}


.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.alert-notice {
	color:green;
	border: solid black 1px;
}
.alert-error {
	color:red;
	font-size: 18px;
}

p {
	margin: 0;
}




/*#sign-up {
	padding:8px;
	padding-left:12px;
	padding-right:12px;
	margin:7px;
	background: #5C58B7;
	color:white;
	border: solid 1px #5458D8;
}

.sign-up {
	padding: 10px 80px;	
	margin:7px;
	font-size: 20px;
	background: #5C58B7;
	color:white;
	border: solid 1px #5458D8;
}

#sign-up:hover  {
	background: #5C85F8;
}

.sign-up:hover {
	background: #5C85F8;
	color: #fff;	
}*/




.navbar {
	margin-bottom:0;
	border:none;
	border-bottom: solid 2px black;

}

.navbar-right > li > a {
	margin:0;	
}


/*.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
	color: #428bca;
}*/

.navbar-right {
	padding-top:0;
}

tr {
	height: 80px;
}
.table > tbody + tbody {
	border-top: 0;
}
.event-list-date {
	width:80px;
}

.event-list-title {
	font-size:18px;
}

.event-list-cost {
	font-size: 24px;
}

.table > tbody > tr > td {
	border:0;

}

		

